<!-- Footer Area -->
<footer id="footer" class="footer">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-12">
          <div class="single-footer">
            <h2>About Us</h2>
            <p>
              Welcome to BrainDetect, where cutting-edge technology meets
              compassionate healthcare. At BrainDetect, we are
              revolutionizing the field of medical diagnostics through the
              power of machine learning. Our platform empowers medical
              professionals by offering a seamless solution for the analysis
              of MRI scans, providing swift and accurate predictions on the
              presence of tumors. With a commitment to advancing patient
              care, our team of experts combines expertise in both medical
              and artificial intelligence domains to deliver a reliable and
              efficient service. Join us in our mission to enhance
              diagnostic precision and transform the landscape of medical
              imaging, as we strive towards a healthier and brighter future
            </p>
            <!-- Social -->
            <ul class="social">
              <li>
                <a href="#"><i class="icofont-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="icofont-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="icofont-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="icofont-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="icofont-pinterest"></i></a>
              </li>
            </ul>
            <!-- End Social -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-footer f-link">
            <h2>Quick Links</h2>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fa fa-caret-right" aria-hidden="true"></i
                      >Home</a
                    >
                  </li>
                  <li>
                    <a href="contact.html"
                      ><i class="fa fa-caret-right" aria-hidden="true"></i
                      >Contact Us</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-caret-right" aria-hidden="true"></i
                      >Login</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-caret-right" aria-hidden="true"></i
                      >History</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-caret-right" aria-hidden="true"></i
                      >Make Predictions</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Footer Top -->
  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="copyright-content">
            <p>Made with 💖 in Babcock University</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Copyright -->
</footer>
<!--/ End Footer Area -->

<script src="js/nav-active-change.js"></script>
<!-- jquery Min JS -->
<script src="js/jquery.min.js"></script>
<!-- jquery Migrate JS -->
<script src="js/jquery-migrate-3.0.0.js"></script>
<!-- jquery Ui JS -->
<script src="js/jquery-ui.min.js"></script>
<!-- Easing JS -->
<script src="js/easing.js"></script>
<!-- Color JS -->
<script src="js/colors.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap Datepicker JS -->
<script src="js/bootstrap-datepicker.js"></script>
<!-- Jquery Nav JS -->
<script src="js/jquery.nav.js"></script>
<!-- Slicknav JS -->
<script src="js/slicknav.min.js"></script>
<!-- ScrollUp JS -->
<script src="js/jquery.scrollUp.min.js"></script>
<!-- Niceselect JS -->
<script src="js/niceselect.js"></script>
<!-- Tilt Jquery JS -->
<script src="js/tilt.jquery.min.js"></script>
<!-- Owl Carousel JS -->
<script src="js/owl-carousel.js"></script>
<!-- counterup JS -->
<script src="js/jquery.counterup.min.js"></script>
<!-- Steller JS -->
<script src="js/steller.js"></script>
<!-- Wow JS -->
<script src="js/wow.min.js"></script>
<!-- Magnific Popup JS -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Counter Up CDN JS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>