<!-- Header Area -->
<header class="header">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-5 col-12"></div>
        <div class="col-lg-6 col-md-7 col-12">
          <!-- Top Contact -->
          <ul class="top-contact">
            <li><i class="fa fa-phone"></i>(+234) 814 893 5061</li>
            <li>
              <i class="fa fa-envelope"></i
              ><a href="mailto:support@yourmail.com"
                >support@braindetect.com</a
              >
            </li>
          </ul>
          <!-- End Top Contact -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-12">
            <!-- Start Logo -->
            <div class="logo">
              <a href="/"
                ><img
                  style="height: 45px; max-width: 170px"
                  src="img/logo.png"
                  alt="#"
              /></a>
            </div>
            <!-- End Logo -->
            <!-- Mobile Nav -->
            <div class="mobile-nav"></div>
            <!-- End Mobile Nav -->
          </div>
          <div class="col-lg-7 col-md-9 col-12">
            <!-- Main Menu -->
            <div class="main-menu">
              <nav class="navigation">
                <ul class="nav menu">
                  <li class="nav-links"><a href="/">Home</a></li>
                  <li class="nav-links"><a href="/contact">Contact Us</a></li>
                  <li class="nav-links"><a href="/login">Log In</a></li>

                  <!-- When Logged In -->
                  <li class="nav-links"><a href="/history">History</a></li>
                  <li class="nav-links"><a href="/make-predictions">Make Predictions</a></li>
                </ul>
              </nav>
            </div>
            <!--/ End Main Menu -->
          </div>
          <div class="col-lg-2 col-12">
            <div class="get-quote">
              <a href="/register" class="btn">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
</header>
<!-- End Header Area -->