ml-dtypes==0.2.0
more-itertools==8.10.0
multidict==6.0.4
murmurhash==1.0.9
nest-asyncio==1.5.7
netifaces==0.11.0
networkx==3.1
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.6
opencv-python==4.9.0.80
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.1
pandas==2.0.2
parso==0.8.3
pathy==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
preshed==3.0.8
prompt-toolkit==3.0.39
protobuf==4.23.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.9
Pygments==2.16.1
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pymongo==4.6.1
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyrsistent==0.18.1
pyserial==3.5
PySocks==1.7.1
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-magic==0.4.24
pytz==2023.3
pywatchman==1.4.1
PyYAML==5.4.1
pyzmq==25.1.1
regex==2023.8.8
"requirements.txt" 189L, 3356B                                                                                                          116,1         65%