<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Site keywords here" />
    <meta name="description" content="" />
    <meta name="copyright" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>BrainDetect - Quick and Efficient Tumor Detection System</title>

    <%- include('./partials/header-links.ejs') %>
  </head>
  <body>
    <!-- Preloader -->
    <%- include('./partials/preloader.ejs') %>
    <!-- End Preloader -->

    <%- include('./partials/header.ejs') %>

    <!-- Slider Area -->
    <section class="slider">
      <div class="hero-slider">
        <!-- Start Single Slider -->
        <div
          class="single-slider"
          style="background-image: url('img/slider2.jpg')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1>
                    Revolutionizing Tumor Detection with
                    <span>AI-Powered</span> Solutions
                  </h1>
                  <p>
                    Experience a groundbreaking approach to medical imaging. Our
                    advanced AI technology streamlines the tumor detection
                    process, providing doctors with accurate diagnostics and
                    personalized insights. Harness the power of artificial
                    intelligence to enhance efficiency and precision in
                    healthcare.
                  </p>
                  <div class="button">
                    <a href="/register" class="btn">Get Started</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Slider -->

        <!-- Start Single Slider -->
        <div
          class="single-slider"
          style="background-image: url('img/slider.jpg')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1>
                    Elevate Your Medical Practice with Our
                    <span>AI-Enhanced</span> Services
                  </h1>
                  <p>
                    Our commitment to excellence ensures advanced support for
                    doctors in providing enhanced medical services.
                  </p>
                  <div class="button">
                    <a href="/register" class="btn">Get Started</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Slider -->

        <!-- Start Single Slider -->
        <div
          class="single-slider"
          style="background-image: url('img/slider3.jpg')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1>
                    Enhance Diagnostics with Our
                    <span>AI-Driven</span> Solutions
                  </h1>
                  <p>
                    Explore the future of healthcare with BrainDetect. Our
                    AI-driven solutions empower doctors with precise diagnostics
                    and compassionate care. Whether you're focused on
                    preventative measures or addressing medical challenges, our
                    technology supports your efforts in creating a more
                    efficient and supportive healthcare environment.
                  </p>
                  <div class="button">
                    <a href="/register" class="btn">Get Started</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Slider -->
      </div>
    </section>
    <!--/ End Slider Area -->

    <!-- Start Schedule Area -->
    <section class="schedule">
      <div class="container">
        <div class="schedule-inner">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <!-- single-schedule -->
              <div class="single-schedule first">
                <div class="inner">
                  <div class="icon">
                    <i class="fa fa-search"></i>
                  </div>
                  <div class="single-content">
                    <span>AI Diagnostics</span>
                    <h4>Tumor Detection</h4>
                    <p>
                      Utilize our AI-powered system for swift and accurate tumor
                      detection in MRI scans.
                    </p>
                    <a href="#"
                      >LEARN MORE<i class="fa fa-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <!-- single-schedule -->
              <div class="single-schedule middle">
                <div class="inner">
                  <div class="icon">
                    <i class="icofont-doctor-alt"></i>
                  </div>
                  <div class="single-content">
                    <span>Medical Professionals</span>
                    <h4>Expert Consultations</h4>
                    <p>
                      Access our platform to schedule expert consultations with
                      specialists.
                    </p>
                    <a href="#"
                      >LEARN MORE<i class="fa fa-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <!-- single-schedule -->
              <div class="single-schedule last">
                <div class="inner">
                  <div class="icon">
                    <i class="fa fa-clock"></i>
                  </div>
                  <div class="single-content">
                    <span>Service Availability</span>
                    <h4>24/7 Accessibility</h4>
                    <p>
                      Our AI-driven services are available round the clock for
                      your convenience.
                    </p>
                    <a href="#"
                      >LEARN MORE<i class="fa fa-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/End Start schedule Area -->

    <!-- Start Features -->
    <section class="features section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>Empowering Healthcare with Advanced Features</h2>
              <img src="img/section-img.png" alt="#" />
              <p>
                Experience the future of healthcare with BrainDetect, where
                innovation meets precision.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-12">
            <!-- Start Single Feature -->
            <div class="single-features">
              <div class="single-icon">
                <i class="icofont icofont-search-document"></i>
              </div>
              <h3>Tumor Detection</h3>
              <p>
                Utilize our state-of-the-art AI system for accurate and
                efficient tumor detection in medical imaging, providing doctors
                with valuable insights for diagnosis and treatment planning.
              </p>
            </div>
            <!-- End Single Feature -->
          </div>
          <div class="col-lg-4 col-12">
            <!-- Start Single Feature -->
            <div class="single-features">
              <div class="single-icon">
                <i class="icofont icofont-refresh"></i>
              </div>
              <h3>Real-Time Model Updates</h3>
              <p>
                Stay at the forefront of medical technology with our real-time
                model updates. Our system continuously learns and adapts to the
                latest advancements, ensuring optimal performance and accuracy.
              </p>
            </div>
            <!-- End Single Feature -->
          </div>
          <div class="col-lg-4 col-12">
            <!-- Start Single Feature -->
            <div class="single-features last">
              <div class="single-icon">
                <i class="icofont icofont-dna-alt-2"></i>
              </div>
              <h3>Batch Predictions</h3>
              <p>
                Boost efficiency in medical diagnostics by leveraging our batch
                prediction feature. Analyze multiple MRI scans simultaneously,
                saving time and enhancing the diagnostic process.
              </p>
            </div>
            <!-- End Single Feature -->
          </div>
        </div>
      </div>
    </section>
    <!--/ End Features -->

    <!-- Start Fun-facts -->
    <div id="fun-facts" class="fun-facts section overlay">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Start Single Fun -->
            <div class="single-fun">
              <i class="icofont icofont-table"></i>
              <div class="content">
                <span class="counter">529</span>
                <p>Predictions Made</p>
              </div>
            </div>
            <!-- End Single Fun -->
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Start Single Fun -->
            <div class="single-fun">
              <i class="icofont icofont-chart-line"></i>
              <div class="content">
                <span class="counter">99.1</span>
                <p>Accuracy (%)</p>
              </div>
            </div>
            <!-- End Single Fun -->
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Start Single Fun -->
            <div class="single-fun">
              <i class="icofont-simple-smile"></i>
              <div class="content">
                <span class="counter">5</span>
                <p>Average Rating (out of 5)</p>
              </div>
            </div>
            <!-- End Single Fun -->
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Start Single Fun -->
            <div class="single-fun">
              <i class="icofont icofont-user-alt-3"></i>
              <div class="content">
                <span class="counter">432</span>
                <p>Registered Doctors</p>
              </div>
            </div>
            <!-- End Single Fun -->
          </div>
        </div>
      </div>
    </div>
    <!--/ End Fun-facts -->

    <!-- Start Why Choose -->
    <section class="why-choose section" id="about-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>Empowering Healthcare Through Innovative Solutions</h2>
              <img src="img/section-img.png" alt="#" />
              <p>
                Discover the unique features that set BrainDetect apart in
                revolutionizing medical diagnostics and care.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <!-- Start Choose Left -->
            <div class="choose-left">
              <h3>Who We Are</h3>
              <p>
                BrainDetect is at the forefront of healthcare innovation,
                utilizing cutting-edge AI technology to enhance medical
                diagnostics. Our commitment to excellence is reflected in our
                dedication to providing accurate and timely insights to
                healthcare professionals.
              </p>
              <p>
                We are driven by a vision to transform the healthcare landscape,
                offering advanced solutions for tumor detection and
                localization. Our team is devoted to ensuring that our
                AI-powered services support medical practitioners in delivering
                exceptional patient care.
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list">
                    <li>
                      <i class="fa fa-caret-right"></i>Advanced AI Tumor
                      Detection
                    </li>
                    <li>
                      <i class="fa fa-caret-right"></i>Real-Time Model Updates
                    </li>
                    <li><i class="fa fa-caret-right"></i>Batch Predictions</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list">
                    <li>
                      <i class="fa fa-caret-right"></i>Empowering Healthcare
                      Professionals
                    </li>
                    <li>
                      <i class="fa fa-caret-right"></i>Comprehensive Medical
                      Solutions
                    </li>
                    <li>
                      <i class="fa fa-caret-right"></i>Upcoming: Tumor
                      Localization
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Choose Left -->
          </div>
          <div class="col-lg-6 col-12">
            <!-- Start Choose Right -->
            <div class="choose-right">
              <div class="video-image">
                <!-- Video Animation -->
                <div class="promo-video">
                  <div class="waves-block">
                    <div class="waves wave-1"></div>
                    <div class="waves wave-2"></div>
                    <div class="waves wave-3"></div>
                  </div>
                </div>
                <!--/ End Video Animation -->
                <a
                  href="https://www.youtube.com/embed/pBSncknENRc?si=_JJrE9aas9YHiRS0"
                  class="video video-popup mfp-iframe"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
            </div>
            <!-- End Choose Right -->
          </div>
        </div>
      </div>
    </section>
    <!--/ End Why Choose -->

    <!-- Start Call to Action -->
    <section class="call-action overlay" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="content">
              <h2>Explore the Future of Healthcare with BrainDetect</h2>
              <p>
                If you are a healthcare professional seeking advanced AI
                solutions or want to learn more about our innovative services,
                we're here to assist you. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Quisque porttitor dictum turpis nec
                gravida.
              </p>
              <div class="button">
                <a href="contact.html" class="btn">Contact Now</a>
                <a href="#" class="btn primary"
                  >Learn More<i class="fa fa-long-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ End Call to Action -->

    <!-- Start BrainDetect Services -->
    <section class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>Empowering Healthcare with BrainDetect Services</h2>
              <img src="img/section-img.png" alt="#" />
              <p>
                Explore the advanced services offered by BrainDetect, dedicated
                to enhancing healthcare through innovative solutions and AI
                technology.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="icofont icofont-robot"></i>
              <h4>
                <a href="service-details.html">AI-Powered Tumor Detection</a>
              </h4>
              <p>
                Utilizing state-of-the-art artificial intelligence for accurate
                and efficient tumor detection, revolutionizing the diagnostic
                process.
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="icofont icofont-refresh"></i>
              <h4>
                <a href="service-details.html">Real-Time Model Updates</a>
              </h4>
              <p>
                Benefit from continuous improvements with real-time updates to
                ensure our AI models stay at the forefront of medical
                advancements.
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="icofont icofont-workers-group"></i>
              <h4><a href="service-details.html">Batch Predictions</a></h4>
              <p>
                Streamline workflow with batch predictions, enabling healthcare
                professionals to process multiple MRI scans efficiently.
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="icofont icofont-search-document"></i>
              <h4>
                <a href="service-details.html"
                  >Tumor Localization (Coming Soon)</a
                >
              </h4>
              <p>
                Stay tuned for our upcoming feature, providing detailed tumor
                localization for precise medical interventions.
              </p>
            </div>
            <!-- End Single Service -->
          </div>
        </div>
      </div>
    </section>
    <!--/ End BrainDetect Services -->

    <!-- Start clients -->
    <div class="clients overlay">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="owl-carousel clients-slider">
              <div class="single-clients">
                <img src="img/client.png" alt="#" />
              </div>
              <div class="single-clients">
                <img src="img/client.png" alt="#" />
              </div>
              <div class="single-clients">
                <img src="img/client.png" alt="#" />
              </div>
              <div class="single-clients">
                <img src="img/client.png" alt="#" />
              </div>
              <div class="single-clients">
                <img src="img/client.png" alt="#" />
              </div>
              <div class="single-clients">
                <img src="img/client.png" alt="#" />
              </div>
              <div class="single-clients">
                <img src="img/client.png" alt="#" />
              </div>
              <div class="single-clients">
                <img src="img/client.png" alt="#" />
              </div>
              <div class="single-clients">
                <img src="img/client.png" alt="#" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Ens clients -->

    <!-- Start Newsletter Area -->
    <section class="newsletter section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
            <!-- Start Newsletter Text -->
            <div class="subscribe-text">
              <h6>Stay Informed with BrainDetect</h6>
              <p>
                Subscribe to our newsletter and stay updated on the latest
                advancements in medical imaging, artificial intelligence, and
                healthcare technology.
              </p>
            </div>
            <!-- End Newsletter Text -->
          </div>
          <div class="col-lg-6 col-12">
            <!-- Start Newsletter Form -->
            <div class="subscribe-form">
              <form
                action="mail/mail.php"
                method="get"
                target="_blank"
                class="newsletter-inner"
              >
                <input
                  name="EMAIL"
                  placeholder="Your email address"
                  class="common-input"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Your email address'"
                  required=""
                  type="email"
                />
                <button class="btn">Subscribe</button>
              </form>
            </div>
            <!-- End Newsletter Form -->
          </div>
        </div>
      </div>
    </section>

    <!-- /End Newsletter Area -->

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
